@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "@iconify/tailwind4";
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'lecomlight';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: #ffffff;
	--color-base-200: #f8f3ed;
	--color-base-300: #e0d7ce;
	--color-base-content: #2b2b2c;
	--color-primary: #ffcb66;
	--color-primary-content: #2b2b2c;
	--color-secondary: #ccb6dc;
	--color-secondary-content: #2b2b2c;
	--color-accent: #add6b8;
	--color-accent-content: #2b2b2c;
	--color-neutral: #2b2b2c;
	--color-neutral-content: #f8f3ed;
	--color-info: #a5c4fb;
	--color-info-content: #2b2b2c;
	--color-success: #add6b8;
	--color-success-content: #2b2b2c;
	--color-warning: #ffcb66;
	--color-warning-content: #2b2b2c;
	--color-error: #f2a297;
	--color-error-content: #2b2b2c;
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 1;
	--noise: 0;
}

@theme {
	--font-sans:
		'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: 'Crimson Pro', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@layer base {
	body {
		@apply min-h-screen bg-base-200;
	}

	h1,
	.text-header1 {
		@apply font-serif text-[3.24rem] font-medium max-md:text-[2rem];
	}

	h2,
	.text-header2 {
		@apply font-serif text-[1.62rem] font-medium max-md:text-[1.4rem];
	}

	h3,
	.text-header3 {
		@apply font-serif text-[1.32rem] font-medium max-md:text-[1.2rem];
	}
}

@layer utilities {
	.border {
		border-width: var(--border);
		border-color: var(--color-base-300);
	}
}
