@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "@iconify/tailwind4";
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'lecomlight';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: #ffffff;
	--color-base-200: #f8f3ed;
	--color-base-300: #e0d7ce;
	--color-base-content: #2b2b2c;
	--color-primary: #ffcb66;
	--color-primary-content: #2b2b2c;
	--color-secondary: #ccb6dc;
	--color-secondary-content: #2b2b2c;
	--color-accent: #add6b8;
	--color-accent-content: #2b2b2c;
	--color-neutral: #2b2b2c;
	--color-neutral-content: #f8f3ed;
	--color-info: #a5c4fb;
	--color-info-content: #2b2b2c;
	--color-success: #add6b8;
	--color-success-content: #2b2b2c;
	--color-warning: #ffcb66;
	--color-warning-content: #2b2b2c;
	--color-error: #f2a297;
	--color-error-content: #2b2b2c;
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 1;
	--noise: 0;
}

@theme {
	--font-sans:
		'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
	body {
		@apply bg-base-200 min-h-screen;
	}
}

@layer utilities {
	.border {
		border-width: var(--border);
		border-color: var(--color-base-300);
	}
}
