@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "@iconify/tailwind4";
@plugin "daisyui" {
	themes: all;
}

@plugin "daisyui/theme" {
	name: 'lecomlight';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: #ffffff;
	--color-base-200: #f8f3ed;
	--color-base-300: oklch(93.1% 0.022 80.5);
	--color-base-content: oklch(33.4% 0.002 286.3);
	--color-primary: #ffcb66;
	--color-primary-content: oklch(56.2% 0.096 68);
	--color-secondary: #ccb6dc;
	--color-secondary-content: oklch(49.7% 0.058 311);
	--color-accent: #add6b8;
	--color-accent-content: oklch(52.6% 0.06 153.2);
	--color-neutral: #2b2b2c;
	--color-neutral-content: #f8f3ed;
	--color-info: #a5c4fb;
	--color-info-content: oklch(50.4% 0.085 261.7);
	--color-success: #add6b8;
	--color-success-content: oklch(52.6% 0.06 153.2);
	--color-warning: #ffcb66;
	--color-warning-content: oklch(56.2% 0.096 68);
	--color-error: #f2a297;
	--color-error-content: oklch(49.4% 0.097 28.1);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 2px;
	--depth: 1;
	--noise: 1;
}

@theme {
	--font-sans:
		'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: 'Crimson Pro', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@layer base {
	body {
		@apply min-h-screen bg-base-200;
	}

	h1,
	.text-header1 {
		@apply font-serif text-[2.9rem] font-bold max-md:text-[1.9rem];
	}

	h2,
	.text-header2 {
		@apply font-serif text-[1.62rem] font-bold max-md:text-[1.4rem];
	}

	h3,
	.text-header3 {
		@apply font-serif text-[1.32rem] font-bold max-md:text-[1.2rem];
	}

	h4,
	.text-header4 {
		@apply font-serif text-[1.22rem] font-bold max-md:text-[1.1rem];
	}
}

@layer utilities {
	.border {
		border-width: var(--border);
		border-color: var(--color-base-300);
	}
}

html {
	font-size: 16px; /* default desktop size */
}

/* Reduce base font size on smaller screens */
@media (max-width: 768px) {
	/* Tailwind’s sm breakpoint */
	html {
		font-size: 12px;
	}
}
